body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(45, 53, 69,0.907);
  }

  
  th{
    background-color: #04AA6D;
  }
  .topnav a {
    float: left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
  }
  
    .topnav .l{
    text-align: center;
    margin-left:29%;
    }

    body {
        background: linear-gradient(90deg, #bdc3c7 , #2c3e50);	
        position:static;	
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;	
        font-family: Raleway, sans-serif;
    }
  .topnav .icon {
    display: none;
  }

p,textarea{
    position:relative;
    left:10%;
}

.btn,#traces,.Ans{
    margin-top: 20px;
    position:relative;
    left:10%;
}

.structure{
    margin-top:50px;
    margin-left:40px;
    position: relative;
    left:20%;
}
.sub{
    margin-left:13%;
    margin-top:20px;
    padding:7px;
    width:8%;
    border-radius:20px;
    position: relative;
    left:20%;
    
    

}
.sub:hover{
    background-color:gray;
    color: #f2f2f2;
    
    
}

.question{
    margin-bottom: 10px;
    font-size: 2ch;
    width:20%;
}

.btn{
    margin-bottom: 5px;
    padding:1px 6px 0px;
    font-size: 2ch;
    border-radius:40px;
    
}
.btn:hover{
    background-color: #2c3e50;
    color: #bdc3c7 ;
    box-shadow:2px 2px 4px ;
}


.Option{
    padding:5px 3px 2px ;
    box-shadow:2px 2px 4px ;
    border: 1px solid black ;
}
.Que{
    box-shadow:5px 5px 10px ;
    margin-bottom:20px;
}
.Ans{
    padding:5px 3px 2px;
    margin-right: 55%;
    margin-top: 20px;
}
#error{
    color:red;
    position: relative;
    top:9%;
    left:20%;
    
    bottom:20%;
}
#opt,#Ans2{
    padding:5px;
}
#inc,#dec{
    padding:3px;
    width: 22px;;
}

#inc:hover{
    background-color: green;
    color:aliceblue
}

#dec:hover{
    background-color: rgb(246, 59, 26);
    color:aliceblue
}
.validationMessage{
   
    color: red;
    position: relative;
    right:30%;
}