body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-image: url("../img/stars.jpeg"); */
    background: linear-gradient(90deg, #2b5876 ,#4e4376);	
    

  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(45, 53, 69,0.907);
  }

  
  th{
    background-color: #04AA6D;
  }
  .topnav a {
    float: left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    border:none;
  }
  
  .topnav .home:hover {
    background-color:  #04AA6D;
    color: black;
  }
  
  
  .topnav .icon {
    display: none;
  }

  .btn{

    border-radius:30%;
    margin-bottom:5px;
}
.form-div-wrap{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

button{
  border-radius: 40px;
  margin-bottom: 20px;
}

button:hover{
    color:white;
}

.topnav .l{
float:right;
}



table {
  border-left-color: #ddd;
    border-collapse: collapse;
    width: 100%;
    border:none;
    
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  table {
    /* border-collapse: collapse; */
    width: 100%;
   
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    color:#f2f2f2;
  }
  
  /* tr:nth-child(even) 
  {
    background-color: #dad8d8;
}
tr:nth-child(odd) 
  {
    background-color: #dad8d8;
} */



    .delet,.delete{
        
        color:wheat
      }
      .delet:hover{
          color:rgb(84, 119, 244);
      }
      .delete:hover{
        color:red;

      }
    
  .box{
    width: 90%;
    margin-left: 40px;
  }
  .testheading{
    color:white;
    text-align: center !important;
  }