body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(45, 53, 69,0.907);
  }

  
  th{
    background-color: #04AA6D;
  }
  .topnav a {
    float: left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
  }
  
  .topnav .home:hover {
    background-color:  #04AA6D;
    color: black;
  }
  
  
  .topnav .icon {
    display: none;
  }

  .btn{

    border-radius:10%;
    margin-bottom:5px;
}
.form-div-wrap{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

button:hover{
    color:white;
}

.topnav .l{
float:right;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) 
  {
    background-color: #dad8d8;
}

tr:nth-child(even):hover
    {
        background-color: #bdbbba;
    }

    .delet{
        
        color:black;
      }
      .delet:hover{
          color:rgb(210, 206, 206);
      }
    
  