
h1 {
    color: white;
    text-align: center;
    border-bottom:  solid black;
    margin-top: 10px;
  }

.view
  {
    border-style: solid; 
}

.Answer{
    color:red;
}
div {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color:black;
    color:white;
    width: 80%;
}
.data{
  position: relative;
  left:5%;
}

.delet:hover {
        
  color:wheat !important ;
}
.delet:hover{
    color:rgb(210, 206, 206);
}






